{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ec/common.css' %}">
    <title>Login</title>
{#    <style>#}
{#        .tab-content {#}
{#            width: 40%;#}
{#        }#}
{#    </style>#}
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light mb-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'ec/mickey_silhouette.svg' %}" alt="" width="30" height="24"
                     class="d-inline-block align-text-top">
                テスト
            </a>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-start">
                    <div
                            class="nav flex-column nav-pills me-3"
                            id="v-pills-tab"
                            role="tablist"
                            aria-orientation="vertical">
                        <button
                                class="nav-link active"
                                id="v-pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-home"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-home"
                                aria-selected="true">
                            検索
                        </button>
                        <button
                                class="nav-link"
                                id="v-pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-profile"
                                aria-selected="false">
                            お気に入り
                        </button>
                        <button
                                class="nav-link"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false">
                            コメント編集
                        </button>
                        <button
                                class="nav-link"
                                id="v-pills-register-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-register"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-register"
                                aria-selected="false">
                            商品登録
                        </button>
                    </div>
                    <div class="tab-content flex-fill" id="v-pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="v-pills-home"
                             role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <form method="post" action="{% url 'ec:index' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 row">
                                            <label for="{{ form.item_name.id_for_label }}"
                                                   class="col-sm-2 col-form-label">商品名</label>
                                            <div class="col-sm-10">
                                                {{ form.item_name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 align-self-end" style="text-align: right">
                                        <button type="submit" class="btn btn-primary">検索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade"
                             id="v-pills-profile"
                             role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <h4>お気に入り💕</h4>
                            <div class="row mb-2">
                                <div class="col-6">
                                    <form id="registerFavForm" method="post" action="{% url 'ec:fav_register' %}">
                                        {% csrf_token %}
                                        <button id="registerFav" class="btn btn-primary">お気に入り登録</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <form id="unregisterFavForm" method="post" action="{% url 'ec:fav_unregister' %}">
                                        {% csrf_token %}
                                        <button id="registerFav" class="btn btn-primary">お気に入り解除</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade"
                             id="v-pills-settings"
                             role="tabpanel"
                             aria-labelledby="v-pills-settings-tab">
                            コメント編集だよ✌
                        </div>
                        <div class="tab-pane fade"
                             id="v-pills-register"
                             role="tabpanel"
                             aria-labelledby="v-pills-register-tab">
                            <form method="post" action="{% url 'ec:register' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 row">
                                            <label for="{{ registerForm.title.id_for_label }}"
                                                   class="col-sm-2 col-form-label">商品名</label>
                                            <div class="col-sm-10">
                                                {{ registerForm.title }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 row">
                                            <label for="{{ registerForm.price.id_for_label }}"
                                                   class="col-sm-2 col-form-label">価格</label>
                                            <div class="col-sm-10">
                                                {{ registerForm.price }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 align-self-end" style="text-align: right">
                                        <button type="submit" class="btn btn-primary">登録</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <table id="itemTable"></table>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
<script>
    const $table = $('#itemTable');

    function initTable() {
        $table.bootstrapTable({
            search: true,
            pagination: true,
            pageSize: 5,
            pageList: [2, 10, 25, 50, 100, 'all'],
            columns: [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle',
            }, {
                title: 'お気に入り',
                field: 'favorite',
                align: 'center',
                valign: 'middle',
                sortable: true,
            }, {
                title: '商品名',
                field: 'title',
                align: 'left',
                valign: 'middle',
                sortable: true,
            }, {
                title: '価格',
                field: 'price',
                align: 'right',
                valign: 'middle',
                sortable: true,
            }],
            {% autoescape off %}
                data: {{ items }}
            {% endautoescape %}
        });

        $table.on("check.bs.table", (row, $element) => {
            console.log("アイテムをチェックしました");
            console.log($element);
        });
    }

    $(function () {
        initTable();
    });

    $('form#registerFavForm').on('submit', (event) => {
        console.log("お気に入り登録ボタンをクリックした");
        let selections = $table.bootstrapTable('getSelections');
        console.log(selections);
        {# 登録済みのアイテム検知 #}
        for (let selection of selections) {
            if (selection['favorite'] === '★') {
                alert("お気に入り登録済みのアイテムが選択されています。\nお気に入り未登録のアイテムのみを選択してください。");
                return false;
            }
        }
        {# 送信データの生成 #}
        let $form = $('form#registerFavForm');
        for (let selection of selections) {
            $form.append($("<input>", {
                name: 'id',
                type: 'hidden',
                value: selection['id'],
            }));
        }
        return true;
    });

    $('form#unregisterFavForm').on('submit', (event) => {
        console.log("お気に入り登録ボタンをクリックした");
        let selections = $table.bootstrapTable('getSelections');
        console.log(selections);
        {# 登録済みのアイテム検知 #}
        for (let selection of selections) {
            if (selection['favorite'] === '☆') {
                alert("お気に入り未登録のアイテムが選択されています。\nお気に入り登録済みのアイテムのみを選択してください。");
                return false;
            }
        }
        {# 送信データの生成 #}
        let $form = $('form#unregisterFavForm');
        for (let selection of selections) {
            $form.append($("<input>", {
                name: 'id',
                type: 'hidden',
                value: selection['id'],
            }));
        }
        return true;
    });
</script>
</body>
</html>